#
# EditorConfig configuration.
#
# https://spec.editorconfig.org#supported-pairs
#

root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = off

[*.{nix,yml,yaml}]
indent_style = space
indent_size = 2

[*.rst]
indent_style = space
indent_size = 3
