# macOS.
.DS_Store

# direnv.
.direnv

# Sublime Text.
.lsp
*.sublime-*

# JetBrains IntelliJ IDEA.
.idea
*.iml

# Visual Studio Code.
.vscode
.history

# Build.
.pytest_cache
.reports
.ruff_cache
.venv
__pycache__
dist

# Azurite.
__azurite_*__.json
__blobstorage__
__queuestorage__

# MinIO.
.minio
