# macOS.
.DS_Store

# direnv.
.direnv

# Sublime Text.
.lsp
*.sublime-*

# JetBrains IntelliJ IDEA.
.idea
*.iml

# Visual Studio Code.
.vscode
.history

# Build.
.pytest_cache
.reports
.ruff_cache
.venv
__pycache__
dist

# Storage systems.
.azurite/sandbox
.fake-gcs-server/sandbox
.minio/sandbox

# Telemetry systems.
.grafana/sandbox
.mimir/sandbox
.tempo/sandbox
